.app {

  padding: 80px;

}



.social-card {

  border: 1px solid black;

  border-radius: 4px;

  max-width: 600px;

}



.social-card img {

  max-width: 100%;

}



.social-card-text {

  padding: 12px;

}



.social-card-text h3 {

  margin-top: 0;

}



.social-card-text a {

  color: gray;

  text-decoration: none;

}



.counter-container {

  border: 1px solid black;

  border-radius: 4px;

  text-align: center;

}



.counter-container h1 {

  font-size: 64px;

}



.counter-button {

  font-size: 44px;

}



.button-container {

  display: flex;

}



.button-container button {

  flex: 1;

}